<nav class="sidenav">
    <section class="sidenav-content">
        <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            Dashboard
        </a>
        <section class="nav-group collapsible">
            <input id="ressourceshumaine" type="checkbox">
            <label for="ressourceshumaine">Ressources humaines</label>
            <ul class="nav-list">
                <li><a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">Gestion des utilisateurs</a></li>
                <li><a class="nav-link">Ajouter un utilisateur</a></li>
                <li><a class="nav-link">Gestion des groupes</a></li>
                <li><a class="nav-link">Ajouter un groupe</a></li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Capteurs</label>
            <ul class="nav-list">
                <li><a class="nav-link">Tableau de bord</a></li>
                <li><a class="nav-link">Ajouter un capteur</a></li>
                <li><a class="nav-link">Visualiser les capteurs</a></li>
                <li><a class="nav-link" [routerLink]="['/leds']" [routerLinkActive]="['active']">Gérer les LEDs</a></li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Localiser</label>
            <ul class="nav-list">
                <li><a class="nav-link">Babylon JS</a></li>
                <li><a class="nav-link">Leaflet JSt</a></li>
                <li><a class="nav-link">Simulateur</a></li>
                <li><a class="nav-link">Indoor location</a></li>
            </ul>
        </section>
    </section>
</nav>
