<nav class="sidenav">
  <section class="sidenav-content">
    <a class="nav-link">
      Dashboard
    </a>
    <section class="nav-group collapsible">
      <input id="ressourceshumaine" type="checkbox">
      <label for="ressourceshumaine">Ressources humaines</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">Gestion des utilisateurs</a></li>
      </ul>
    </section>
    <section class="nav-group collapsible">
      <input id="tabexample1" type="checkbox">
      <label for="tabexample1">Capteurs</label>
      <ul class="nav-list">
        <li><a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Tableau de bord</a></li>
      </ul>
    </section>
    <a class="nav-link" [routerLink]="['/ressources']" [routerLinkActive]="['active']">
      Gestion des ressources
    </a>
  </section>
</nav>
