<header class="header-6">
  <div class="branding">
    <a [routerLink]="['']" class="nav-link">
      <clr-icon shape="vm-bug"></clr-icon>
      <span class="title">SmartBuilding</span>
    </a>
  </div>
  <div class="header-nav">
    <a class="nav-link nav-icon" [routerLink]="['']" [routerLinkActive]="['active']">
      <clr-icon shape="user"></clr-icon>
    </a>
    <a class="nav-link nav-icon" [routerLink]="['/admin']" [routerLinkActive]="['active']">
      <clr-icon shape="folder"></clr-icon>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="Recherche...">
    </label>
  </form>
  <div class="header-actions">
    <clr-dropdown [clrMenuPosition]="'bottom-right'" >
      <button class="dropdown-toggle nav-icon" clrDropdownToggle>
        <clr-icon shape="cog"></clr-icon>
        <clr-icon shape="caret" class="icon-orient-down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/profil']">Profil</a>
        <a class="dropdown-item">Réglages</a>
        <a class="dropdown-item" [routerLink]="['/login']">Déconnexion</a>
      </div>
    </clr-dropdown>
  </div>
</header>
