<div class="card">
    <span *ngIf="!user && !errorMessage" class="spinner spinner-md">
        Chargement...
    </span>
    <div class="card-block" *ngIf="user">
        <div class="card-media-block wrap">
            <img class="card-media-image" src="{{user.ProfilPhoto}}" />
            <div class="card-media-description">
                <span class="card-media-title">{{user.FirstName}} {{user.LastName}}</span>
            </div>
        </div>
        <p class="card-text">
            {{user.ObjectID}}
        </p>
        <p class="card-text">
            Salle 23
        </p>
    </div>
    <div class="card-footer">
        <a class="card-link">Modifier</a>
        <a class="card-link">Supprimer</a>
    </div>
</div>
<clr-alert [clrAlertType]="'alert-danger'" *ngIf="errorMessage">
    <span class="alert-item">
      <span class="alert-text">
          {{errorMessage}}
      </span>
    </span>
</clr-alert>
