<div class="card">
    <div class="card-block">
        <div class="card-media-block wrap">
            <img class="card-media-image" src="http://placehold.it/60x60" />
            <div class="card-media-description">
                <span class="card-media-title">Guillaume</span>
                <span class="card-media-text">Tran</span>
            </div>
        </div>
        <p class="card-text">
            ...
        </p>
    </div>
    <div class="card-footer">
        <a class="card-link">Modifier</a>
        <a class="card-link">Supprimer</a>
    </div>
</div>
