<h1>Dashboard</h1>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class="card clickable">
      <div class="card-header">
        Capteurs
      </div>
      <div class="card-block">
        <p>Liste de capteurs</p>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary">Action</a>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Alertes
      </div>
      <div class="card-block">
      <span *ngIf="!AlertList && !errorMessage" class="spinner spinner-md">
        Chargement...
      </span>
        <clr-alert [clrAlertType]="'alert-danger'" *ngIf="errorMessage">
          <span class="alert-item">
            <span class="alert-text">
                {{errorMessage}}
            </span>
          </span>
        </clr-alert>
        <clr-datagrid *ngIf="AlertList">
          <clr-dg-column>Capteur</clr-dg-column>
          <clr-dg-column>Date</clr-dg-column>
          <clr-dg-column>Valeur</clr-dg-column>
          <clr-dg-row *clrDgItems="let alert of AlertList">
            <clr-dg-cell>{{alert.deviceId}}</clr-dg-cell>
            <clr-dg-cell>{{alert.Timestamp}}</clr-dg-cell>
            <clr-dg-cell>{{alert.Data}}</clr-dg-cell>
          </clr-dg-row>
          <clr-dg-footer></clr-dg-footer>
        </clr-datagrid>
      </div>
      <div class="card-footer">
        <a class="btn btn-primary">Action</a>
      </div>
    </div>
  </div>
</div>
